{{!-- <div class="navbar">
    <h5 class="navbar-header">Pages</h5>
    <div class="nav-bar-pages">
        {{#each pages}}
            
            <a href="/pages/{{id}}">{{title.rendered}}</a>

        {{/each}}
    </div>
</div> --}}